body,html {
  height:100%;
}

body {
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.gray-background{
  background-color: #eceaea;
  }




  /* HEADER */


header {
  height:75px;
  width:100%;
  line-height:75px;
  overflow: auto;
  border-bottom: 1px solid #A0A0A0;
}

header img{
  vertical-align: center;
  margin-right: 10px;
}

header .logo {
  float:left;
}

header p {
  font-weight: 300;
  font-size: 22px;
  padding: 0px;
  margin: 0;
  display: inline-block;
}

nav{
  float:right;
}

nav .navbar-btn{
  background-color: #407aba;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  padding: 5px 25px;
}

nav .glyphicon-menu-hamburger{
  display: inline-block;
}

/* MAIN */

.menu {
  padding: 0px;
  height: 100%;
  border-right: 1px solid #d4d4d4;
}

.menu .input-group {
  padding: 15px;
  border-bottom: 1px solid #D4D4D4;
}

.nav {
  font-size: 14px;
  margin-top: 0px;
  height: 100%;
}

.menu .nav li {
  margin-top: 0px;
}

.menu .nav li a {
  border-bottom: 1px solid #D4D4D4;
  color:#A0A0A0;
  border-radius: 0px;
  padding: 15px;
}

.menu .nav li a .glyphicon{
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  main, main .row{
    height: 100%
  }
}


/* CONTENT */


.content .element {
  margin: 10px 0px;
  background-color: green;
  height: 100px;
}